In [ ]:
#Question: What Is the risk For given data?
    #speed = 160km/h, car_age = 10 years, expertise = 5 years

In [22]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [23]:
df = pd.read_csv('car data.csv')

In [24]:
df

   speed  car_age  expertise  risk
0    200       15        5.0    85
1     90       17       13.0    20
2    165       12        4.0    93
3    110       20        NaN    60
4    140        5        3.0    82
5    115        2        8.0    10

In [25]:
df.expertise

0     5.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
Name: expertise, dtype: float64

In [26]:
#Here expertise column none value.
#so identify mean value And put In the value.

In [27]:
exp_fit = df.expertise.mean()

In [28]:
exp_fit

6.6

In [ ]:
Now, put In the value.

In [30]:
df.expertise = df.expertise.fillna(exp_fit)

In [31]:
df.expertise

0     5.0
1    13.0
2     4.0
3     6.6
4     3.0
5     8.0
Name: expertise, dtype: float64

In [32]:
df

   speed  car_age  expertise  risk
0    200       15        5.0    85
1     90       17       13.0    20
2    165       12        4.0    93
3    110       20        6.6    60
4    140        5        3.0    82
5    115        2        8.0    10

In [ ]:
#done data pre_processing

In [33]:
reg = linear_model.LinearRegression()

In [34]:
#predict under risk column
reg.fit(df[['speed','car_age','expertise']],df.risk)

LinearRegression()

In [35]:
#question wise input value 
reg.predict([[160,10,5]])

D:\AnacondaFile\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([71.57528852])

In [36]:
#answer r8 or wrong check
#so now calculate coefficient
reg.coef_

array([ 0.20002475,  2.15839587, -7.83235626])

In [37]:
reg.intercept_

57.14915035913919

In [39]:
#Y = MX + C
#Y = M1X1 +M2X2 + M3X3 + C
# M1 = 0.20002475 ,X1 = 160 (SPEED)
# M2 = 2.15839587 ,X2 = 10 (CAR_AGE)
# M3 = -7.83235626 ,X3 = 5 (EXPERTISE)
# C = 57.14915035913919 (intercept)
0.20002475*160+2.15839587*10+-7.83235626*5+57.14915035913919

71.5752877591392

In [ ]:
#reg.predict VALUE [71.57528852] And Equation value [71.5752877591392]
# are similar. so this result okay.